@import './../../Common/variables.scss';
.box-level-verbs{
  .droppable-input{
    border: dashed thin;
    border-radius: 8px;
    width: 170px;
    min-height: 95px;
    display: flex;
  }
  .title-verb{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 200%;
  }
  .box-verbs{
    display: flex;
    flex-direction: column;
    margin-bottom:30px
  }
  .cards-verbs{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
  }
  .card-verb{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    @media (max-width:$breakpoint-xs) {
      &{
        flex-direction: column;
      }
    }
  }
}
  
  


