/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
--------------------




.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #30cc6a54;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #1d6845;
  height: 70px;
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.logo-site{
padding-left: 15px;
}
.btn-menu{
  display: flex;
  flex-grow: 1;
}
.ava-user{
  padding-right:20px ;
}
.nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

main{
display: flex;
justify-content: center;
background-color: rgba(40, 150, 91, 0.515);
flex-grow: 1;
}
